body{
display: flex;
flex-direction: column;
background: radial-gradient( grey, black) fixed;
justify-content: center;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.heading{
    display: flex;
    justify-content: center;
    background-color: rgb(73, 52, 207, .5);
    color:white;
    height: 64px;
    width: auto;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.applist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 73, 148);
    /*background-color: darkslategray;*/
    color:white;
    margin: auto;
    margin-bottom: 16px;
    width: 200px;
    height: 32px;
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    
}

.applist:hover .tooltip {
    background-color: slategray;
    visibility: visible;
}


/* TOOLTIPS */

.applist .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: small;
}


.applist .tooltip::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent slategray transparent transparent;

}