@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');



body{
display: flex;
flex-direction: column;
background: radial-gradient( grey, black) fixed;
justify-content: center;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}

.navContainer {
    background-color: rgb(50, 55, 109);
    background: linear-gradient( rgb(10, 4, 37), grey), fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    list-style: none;
    height: 60px;

    
}

.navLink {
    text-decoration: none;
    /* border: 1px solid black; */
    padding: 8px;
    border-radius: 8px;
    /* box-shadow: 2px 2px rgb(157, 172, 196); */
    background-color: rgb(135, 139, 158);
    color: rgb(234, 238, 250);
}

.navLink:hover{
    background-color: rgb(63, 74, 129);
}




.heading{
    display: flex;
    justify-content: center;
    /* background-color: rgb(73, 52, 207, .5); */
    color:white;
    height: 64px;
    width: auto;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.applist{
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(83, 73, 148);
    /*background-color: darkslategray;*/
    color:white;
    margin: auto;
    margin-bottom: 16px;
    width: 200px;
    height: 32px;
    text-decoration: none;
    border-radius: 8px;
    position: relative;
    
}

.applist:hover .tooltip {
    background-color: slategray;
    visibility: visible;
}


/* TOOLTIPS */

.applist .tooltip{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    font-size: small;
}


.applist .tooltip::after{
    content: '';
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent slategray transparent transparent;

}