body{
display: flex;
flex-direction: column;
background-color: black;
justify-content: center;
margin: 0;
}

.heading{
    display: flex;
    justify-content: center;
    background-color:gray;
    color: darkolivegreen;
    height: 100px;
    width: auto;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 30px;
}

.applist{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gray;
    color: cadetblue;
    margin: 4px;
    width: 200px;
    height: 32px;
    text-decoration: none;
    border-radius: 8px;
}

.applist:hover{
    background-color: darkslategrey; 
}