.container{
    border: 1px solid olivedrab;
    text-align: center;
}

.flex-box-rps{
    display: flex;
    border: 1px solid olive;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.flex-box-rps img:hover{
    box-shadow: 0px 8px 8px darkblue;
    cursor: pointer;
}


.image {
    width: 150px;
    height: 150px;
    border: 2px solid black;
}