body{
    background-color:black;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    height: 100vh;
}


.container {
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.dropdown {
    margin: 30px;
    outline: none;
    height: 30px;
    font-size: small;
}

.btn-container {
    display: flex;
    font-size: medium;
    flex-wrap: wrap;
    margin: auto;
}

.btn {
    height: 30px;
    width: 100px;
    border-radius: 8px;
    font-size: medium;
    outline: none;
    border: none;
    margin: 16px;
}

.btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, grey, rgb(97, 91, 91));
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.orange {
    background-color: orange;
}

.violet {
    background-color: violet;
}

.indigo {
    background-color: indigo;
}

.link-back-div {
    display: flex;
    justify-content: space-around;
    font-size: medium;
    flex-wrap: wrap;
    margin: auto;
}
    
.link-back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(36, 43, 51);
    height: 30px;
    width: 100px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    bottom: 10px;
}

.link-back:hover{
    background-color: slateblue;
}
