/* *{
    margin: 10px;
} */
/* div{
    border: 1px solid black;
} */

.postIt {
    text-align: center;
}

.whole-page {
    margin-left: 20%;
}


[type = "text"] {
    width: 60%;
    height: 20px;
}


.url-div {
    margin: 10px;
    display: flex;
    align-items: center;
}

.url-lbl, .res-lbl{
    /* margin: 10px; */
    /* margin-right: 60px; */
    width: 20%;
}

[type = "text"]:focus{
    outline: 1px solid rgb(56, 168, 99);
}

.requests-container, .conType-container, .results{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;

}

.cusPar-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;
}

.cusParValues {
    display: flex;
    flex-direction: row;
}

.requests, .conType {
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: flex-start;
    /* margin: 10px; */
}

.get, .post, .json, .cus-par {
    margin: 3px 0px 3px;
}

.label {
    width: 20%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3px;
}

.submit{
    margin: 30px 0 0 10px ;
}


.btn{
    height: 30px;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    outline: none;
}

.btn:hover{
    cursor: pointer;
}

.results {
    margin-top: 20px;
}

#res{
    width: 60%;
}




.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 6px solid #3f3636;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 