/* *{
    margin: 10px;
} */
/* div{
    border: 1px solid black;
} */

body {
    height: 100%;
    background: radial-gradient(rgb(95, 153, 177), rgb(46, 44, 44)) fixed;
}

.postIt {
    text-align: center;
}

.whole-page {
    margin-left: 10%;
    margin-right: 10%;
}


[type = "text"] {
    width: 60%;
    height: 25px;
    background: rgb(221, 217, 212);
    border: none;
    font-size: medium;
}


.url-div {
    margin: 10px;
    display: flex;
    align-items: center;
}

.url-lbl, .res-lbl{
    /* margin: 10px; */
    /* margin-right: 60px; */
    width: 20%;
}

[type = "text"]:focus{
    outline: 1px solid rgb(14, 15, 14);
}

.requests-container, .conType-container, .results{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;

}

.cusPar-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;
    
}

.cusParValues {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.cusParEntry {
    width: 40%;
}

.btn-add {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(30, 129, 243);
    outline: none;
    border: none;
}

.btn-add:hover {
    background-color: rgb(98, 198, 238);
    cursor: pointer;
}

.requests, .conType {
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: flex-start;
    /* margin: 10px; */
}

.get, .post, .json, .cus-par {
    margin: 3px 0px 3px;
}

.label {
    width: 20%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3px;
}

.submit{
    margin: 30px 0 0 10px ;
}


.btn{
    height: 30px;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(98, 198, 238);
}

.results {
    margin-top: 20px;
}

#res{
    width: 60%;
}




.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 6px solid #3f3636;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 