/* *{
    margin: 10px;
} */
/* div {
    border: 1px solid black;
} */

body {
    height: 100%;
    background: radial-gradient(rgb(95, 153, 177), rgb(89, 95, 100)) fixed;
}

.postIt {
    text-align: center;
}

.whole-page {
    margin-left: 10%;
    margin-right: 10%;
}


[type = "text"] {
    width: 60%;
    height: 25px;
    background: rgb(205, 209, 216);
    border: none;
    font-size: 16px;
}


.url-div {
    margin: 10px;
    display: flex;
    align-items: center;
}

.url-lbl, .res-lbl{
    /* margin: 10px; */
    /* margin-right: 60px; */
    width: 20%;
}

.requests-container, .conType-container, .results{
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;

}

.cusPar-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    margin: 10px;
    
}

.cusParValues {
    width: 75%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* border: 1px solid black; */
}

.jsonValue {
    width: 60%;
    display: flex;
    
    /* justify-content: space-between; */
    /* border: 1px solid black; */
}

.cusParEntry {
    width: 40%;
}

.btn-add, .btn-remove {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: rgb(30, 129, 243);
    outline: none;
    border: none;
    font-size: large;
}

.btn-add:hover, .btn-remove:hover {
    background-color: rgb(98, 198, 238);
    cursor: pointer;
}

.requests, .conType {
    width: 30%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: flex-start;
    /* margin: 10px; */
}

.get, .post, .json, .cus-par {
    margin: 3px 0px 3px;
}

.label {
    width: 20%;
    align-items: flex-start;
    justify-content: center;
    margin-top: 3px;
}

.submit{
    margin: 30px 0 0 10px ;
}


.btn{
    height: 30px;
    font-weight: bold;
    font-size: large;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: cornflowerblue;
    
}

.btn:hover{
    cursor: pointer;
    background-color: rgb(98, 198, 238);
}

.results {
    margin-top: 20px;
}

/* .code-toolbar{
    width: 60%;
    display: flex;

} */

/* .language-javascript{
    width: 100%;   
} */

pre{
    width: 60%;
    display: block;
    /* text-overflow: clip; */
    
    /* flex-wrap: wrap; */
}

code#resultPrism {
    display: inline-flexbox;
    max-width: 100%;
    height: 300px;
    
}

#jsonInput{
    width: 100%;
}




.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    border: 6px solid #3f3636;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
 