*, *::after, ::before{
    box-sizing: border-box;
}


body{
    background: radial-gradient(grey, black);
    padding: 0;
    margin: 0;
}


.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    
}

.calculator-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgb(195, 240, 240);
}

.calculator-grid > button:hover{
    background-color: teal;
}

.span-two{
    grid-column: span 2;
}

.output{
    grid-column: 1 / -1;
    background-color: rgb(77, 64, 64);
    color: white;
}