/* body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, grey, lightblue) fixed;
    align-items: center;
    width: 100%;
} */


.container{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.flex-blackjack-row-1, .flex-blackjack-row-2{
    background-image: url("images/bj.jpg");
    color: white;
}

.flex-blackjack-row-1 div{
    border: 2px solid black;
    padding: 2px;
    height: 350px;
    text-align: center;
    flex: 1;

}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: medium;
    outline: none;
    border: none;
    margin: 16px;
}

.btn:hover{
    cursor: pointer;
    background: linear-gradient(to right, white, grey);
}

.btn.hit{
    background-color: blue;
}

.btn.stand{
    background-color: yellow;
}

.btn.deal{
    background-color: darkred;
}


table, tr, th{
    border: 1px solid black;
}







.link-back-href{
    display: flex;
    justify-content: center;
    

}

.link-back-btn{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color:rgb(36, 43, 51);
    outline: none;
}

.link-back-btn:hover{
    background: linear-gradient(to right, grey, black);
    cursor: pointer;
}
