body{
    display: flex;
    flex-direction: column;
    background: radial-gradient( rgb(180, 168, 168), rgb(99, 114, 117)) fixed;
    align-items: center;
    height: 100vh;
    }


.container{
    /* border: 1px solid black; */
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;;
    background: radial-gradient(grey, rgb(31, 29, 29));
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.flex-blackjack-row-1, .flex-blackjack-row-2, .flex-blackjack-row-3{
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
}

.flex-blackjack-row-1{
    
    background: radial-gradient(green, black);
    color: rgb(206, 214, 221);
}

.flex-blackjack-row-2 {
    
    background: radial-gradient(rgb(23, 71, 23), black);
    color: white;
}

.flex-blackjack-row-1 div{
    border: 2px solid black;
    padding: 2px;
    height: 350px;
    text-align: center;
    flex: 1;
}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    font-size: medium;
    outline: none;
    border: none;
    margin: 16px;
}

.btn:hover{
    cursor: pointer;
    background: linear-gradient(to right, white, grey);
}

.btn.hit{
    background-color: rgb(47, 114, 202);
}

.btn.hit[disabled]{
    background-color: rgb(47, 114, 202);
}

.btn.stand{
    background-color: rgb(206, 206, 81);
}

.btn.deal{
    background-color: rgb(216, 50, 50);
}

table, tr, th{
    border: 1px solid black;
}


.flex-blackjack-row-3 {
    background: radial-gradient(grey, black);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

table {
    background: radial-gradient(rgb(218, 228, 218), rgba(25, 43, 122, .75));
    border-radius: 8px;
    width: 50%;
}

th {
    border-radius: 4px;
}


/* BACK BUTTON */

.link-back-href{
    display: flex;
    justify-content: center;
}

.link-back-btn{
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 10px;;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color:rgb(36, 43, 51);
    outline: none;
}

.link-back-btn:hover{
    background: linear-gradient(to right, grey, black);
    cursor: pointer;
}
