*, *::after, *::before {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.board {
    width: 100 vw;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    
}

.cell {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.cell:hover{
    cursor: pointer;
    background-color: rgb(224, 219, 219);
}

.cell:first-child, .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}

.cell:first-child, .cell:nth-child(4), .cell:nth-child(7) {
    border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
    border-bottom: none;
}

.winner {
    height: 100px;
    text-align: center;
    border: 1px solid black;

}