*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color:black;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock{
    width: 400px;
    height: 400px;
    background-color:slateblue;
    border-radius: 50%;
    border: 3px solid white;
    position: relative;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.clock .number{
    --rotation:0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotate(var(--rotation));
    color: black;
}

.clock .number1 { --rotation: 30deg;}
.clock .number2 { --rotation: 60deg;}
.clock .number3 { --rotation: 90deg;}
.clock .number4 { --rotation: 120deg;}
.clock .number5 { --rotation: 150deg;}
.clock .number6 { --rotation: 180deg;}
.clock .number7 { --rotation: 210deg;}
.clock .number8 { --rotation: 240deg;}
.clock .number9 { --rotation: 270deg;}
.clock .number10 { --rotation: 300deg;}
.clock .number11 { --rotation: 330deg;}

.clock .hand{
    --rotation: 0;
    position: absolute;
    background-color: white;
    left: 50%;
    bottom: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)*1deg)) ;
}

.clock::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: black;
    width: 15px;
    height: 15px;
    z-index: 11;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}

.clock .hand.second{
    height: 45%;
    width: 3px;
    background-color: red;
}

.clock .hand.minute{
    height: 40%;
    width: 6px;
    background-color: black;
}

.clock .hand.hour{
    height: 35%;
    width: 9px;
    background-color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(36, 43, 51);
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: auto;
}

.button:hover{
    background-color: slateblue;
}