body {
    
    display: flex;
    flex-direction: column;
    background: radial-gradient( rgb(180, 168, 168), rgb(99, 114, 117)) fixed;
    align-items: center;
    
    justify-items: center;
    
    
}

#form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.container{
    /* border: 1px solid olivedrab; */
    text-align: center;
    
    width: 100%;
}

.flex-box-rps{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.image:hover{
    box-shadow: 0px 8px 8px darkblue;
    cursor: pointer;
}

.image {
    width: 120px;
    height: 120px;
}

.result-image-1 {
    width: 120px;
    height: 120px;
    box-shadow: 0px 8px 8px darkblue;
}

.result-image-2 {
    width: 120px;
    height: 120px;
    box-shadow: 0px 8px 8px darkred;
}

.result-text {
    /* width: 150px;
    height: 150px; */
    box-shadow: 0px 8px 8px rgb(100, 129, 190);
    padding: 24px;
}

.reset-btn{
    height: 30px;
    margin-top: 64px;
    
    font-size: medium;
    border-radius: 8px;
    background-color: rgb(238, 229, 229);
    outline: none;
    position: absolute;
    top: 300px;
}

.reset-btn:hover{
    background-color: lightgrey;
    cursor: pointer;
}

.button-back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(36, 43, 51);
    height: 30px;
    width: 100px;
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom: 10px;
}

.button-back:hover{
    background-color: slateblue;
}

.link-back-div {
    display: flex;
    justify-content: space-around;
    font-size: medium;
    flex-wrap: wrap;
    margin: auto;
}
    
/* .link-back{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(36, 43, 51);
    height: 30px;
    width: 100px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    bottom: 10px;
}

.link-back:hover{
    background-color: slateblue;
} */

/* BACK BUTTON */

.link-back-href{
    display: flex;
    justify-content: center;
}

.link-back-btn{
    width: 80px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    color: whitesmoke;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    background-color:rgb(36, 43, 51);
    outline: none;
}

.link-back-btn:hover{
    background: radial-gradient(rgb(62, 51, 90), rgb(21, 21, 56));
    cursor: pointer;
}