body{
    background-color: grey;
    text-align: center;
}

.container{
    border: 1px solid red;
    margin: 0 auto;
    width: 75%;
}

.container-item-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.container-item-1 > img {
    height: 200px;
    width: 300px;
    border: 1px solid green;
    margin: 8px;
}

.btn{
    width: 132px;
    height: 30px;
    background-color: green;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
}

.btn:hover{
    background-color: rgb(142, 165, 230);
    cursor: pointer;
    
    
}