body{
    background-color: whitesmoke;
    
}

.container{
    border: 1px solid red;
    margin: 0 auto;
    width: 75%; 
    text-align: center;
}

.container-item-1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.container-item-1 > img {
    height: 200px;
    width: 300px;
    
    margin: 8px;
    box-shadow: 10px 10px 10px rgb(158, 143, 143);
}

.btn{
    width: 132px;
    height: 30px;
    background-color: green;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 16px;
    outline: none;
}

.btn:hover{
    background-color: rgb(142, 165, 230);
    cursor: pointer;    
}